<h1 class="Titulo">Um poquinho <span>sobre<span>...</h1>

<p>
    <span class="primeira-letra">A</span>utor de obras de fantasia, suspense, terror e sci-fi, redator freelancer, roteirista de quadrinhos, produtor de conteúdo de boardgames e RPG, membro ativo da ABERST (Associação Brasileira de Escritores de Romance Policial, Suspense e Terror), ator, escultor e mestre de RPG há 31 anos. 
</p>

<p>
    <span class="primeira-letra">C</span>omo escritor seus contos foram premiados nos anos de 2014 e 2018 pelo Concurso Salão de Humor de Piracicaba. 
    Os livros <span class="negrito">Guardiões do pecado</span> (2015) e <span class="negrito">Maus valores</span> (2017) foram inspirados em 10 anos de suas campanhas de RPG.
</p>

<p>
    <span class="primeira-letra">S</span>ua terceira obra, <span class="negrito">O adereço da estranha árvore</span> (2019) mergulha no dark fantasy. 
    A quarta obra: <span class="negrito">Duas quadras de mundo</span> (2020) é um suspense sci-fi ambientado na São Paulo de 2067. 
</p>


<p>
    <span class="primeira-letra">E</span>m antologias tem presença marcada nos livros:
    <ul class="opcao-corpo">
        <li><i class="fas fa-arrow-alt-circle-right"></i><span class="negrito">Quando eles despertam</span> feito pela Editora Delirium;</li>
        <li><i class="fas fa-arrow-alt-circle-right"></i><span class="negrito">767 International</span> da Editora Lendari;</li>
        <li><i class="fas fa-arrow-alt-circle-right"></i><span class="negrito">Contos de Tarot</span> organizado pelo mestre em antologias Rodrigo Ortiz Vinholo;</li>
        <li><i class="fas fa-arrow-alt-circle-right"></i><span class="negrito">Era Vampire</span> da editora Entrecontos.</li>
    </ul>
</p>

<p>
    <span class="primeira-letra">N</span>os quadrinhos escreveu e roteirizou dois mangás:
    <ul class="opcao-corpo">
        <li><i class="fas fa-arrow-alt-circle-right"></i><span class="negrito">Mindinho</span> (2020) com a delicada ilustração de Isaac Tiago e; </li>
        <li><i class="fas fa-arrow-alt-circle-right"></i><span class="negrito">Little monster</span> na arte divertida de Eddy Fernandes. </li>
    </ul>
    <span style="font-size: 20px; padding-left: 20px; letter-spacing: 0.1em;margin-left: 40px;">A</span>mbos os mangás participaram do concurso internacional SMA (Silent Manga Award – Japão).
</p>

<p>
    <span class="primeira-letra">JP Schimidt</span> também atuou como produtor de conteúdo do boardgame Arena The Conquest da Dragori games e atualmente escreve os contos do rico universo do Kalymba RPG da editora Gynga.
</p>