@model JeffSite.Models.Loja.Pedido
@{
    Layout = "_LayoutAdmin";
    int status = (int)Model.Status;
}

<br>
<h1>@ViewData["Title"]</h1>
<br>

<form asp-action="DeletePedido" method="POST">
    <input type="hidden" class="form-control" asp-for="LivroId" >
    <input type="hidden" class="form-control" asp-for="NomeDedicado" >
    <input type="hidden" class="form-control" asp-for="Numero" >
    <input type="hidden" class="form-control" asp-for="Bairro" >
    <input type="hidden" class="form-control" asp-for="CEP" >
    <input type="hidden" class="form-control" asp-for="Cidade" >
    <input type="hidden" class="form-control" asp-for="Complemento" >
    <input type="hidden" class="form-control" asp-for="Endereco" >

    <div class="form-group">
        <label>@Html.DisplayNameFor(Model => Model.Id)</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="form-group">
        <label>@Html.DisplayNameFor(Model => Model.Nome)</label>
        <input type="text" class="form-control" asp-for="Nome" readonly>
    </div>
    <div class="form-group">
        <label>@Html.DisplayNameFor(Model => Model.Email)</label>
        <input type="text" class="form-control" asp-for="Email" readonly>
    </div>

    <a asp-controller="Loja" asp-action="Pedido">Voltar</a>
    <button class="btn btn-danger">Deletar</button>

</form>