@model SocialMidia
<style>
.footer-title{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}
.title-footer{
    font-weight: bold;
    color: #CFDBD5;
    font-size: large;
}
.footer-socias-midias{
    text-align: center;
    color: #CFDBD5;
    margin-left: -5%;
}
.footer-socias-midias ul li{
    display: inline;
    text-decoration: none;
    font-size: 20px;
}
</style>

<div class="footer-title">
    <h1 class="title-footer">Redes Sociais</h1>
</div>
<div class="footer-socias-midias">
    <ul>
        <li><i class="fab fa-tiktok"></i></li>
        <li>teste2</li>
        <li>teste3</li>
    </ul>
</div>