@model SocialMidia
<style>
.footer-title{
    display: inline-block;
    margin-left: 50%;
}
.title-footer{
    font-weight: bold;
    color: #CFDBD5;
    font-size: large;
}
</style>

<div class="footer-title">
    <h1 class="title-footer">Teste</h1>
</div>